body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(207, 228, 229);
    background-image: url("/static/fondo_arbol.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.contenedor-relativo {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    color: white;
    font-weight: bold;
    text-align: left;
    text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.966);
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-image: url("/static/fondo_header.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.formulario-registro {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 0.75rem;
    background: #ffffff;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.1);
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-top: 1rem;
}

.nav-btn {
    display: inline-block;
    color: white;
    font-weight: bold;
    text-shadow: 0.125rem 0.125rem 0.3125rem rgb(0, 0, 0);
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn:hover {
    background-color: rgba(100, 100, 100, 0.3);
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: rgba(100, 100, 100, 0.3);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0,0,0,0.7);
    width: 50%;
    max-width: 800px;
    padding: 1rem;
    margin: 0rem auto 0;
    border-radius: 2rem;
    }

section.intro {
    padding: 2rem;
    text-align: center;
}

section.intro p {
    max-width: 800px;
    margin: auto;
}

figure {
    text-align: center;
    margin: 2rem 0;
}

figure img {
    max-width: 100%;
    height: auto;
    border-radius: 0.625rem;
}


.lodelaguia {
    text-align: center;
    text-justify: inter-word;
    background-color: rgba(100, 100, 100, 0.3);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0,0,0,0.7);
    position: absolute;
    top: 10rem;
    right: 31.2rem;
    width: 31.25rem;
}
.alabriregistro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: rgba(100, 100, 100, 0.3);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0,0,0,0.7);
    width: 50%;
    max-width: 25rem;
    padding: 1rem;
    margin: 0% auto 0;
    border-radius: 2rem;
}

.exposicion1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: rgba(100, 100, 100, 0.3);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0,0,0,0.7);
    width: 50%;
    max-width: 30rem;
    padding: 1rem;
    margin: 10% auto 0;
    border-radius: 2rem;
}

.exposicion2 {
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.exposicion2 img {
    margin-top: 1rem;
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    align-items: center;
}
.exposicion3 {
    text-align: center;
    color: #ccc;
}

.btn-eliminar {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #a7a6a6;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-eliminar:hover {
    background-color: #a93226;
}

.footer {
    color: white;
    text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.966);
}

.carousel-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slide.active {
 display: flex;
}

.slide img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 300px;
  height: auto;
  border-radius: 10px;
}
    
.slide .text-box {
    padding: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    width: 50%;
    max-width: 800px;
    text-align: left;
    text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0,0,0,0.7);
    text-align: justify;
    color: white;
}

.arrow.left {
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    cursor: pointer;
    color: rgb(255, 191, 0);
}

.arrow.right {
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    cursor: pointer;
    color: rgb(255, 191, 0);
}

.aves-section {
  width: 50%;
  max-width: 50rem;
  margin: 8rem auto;
  padding: 1.5rem;
  background-color: #f8f9fa;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  font-family: 'Segoe UI', sans-serif;
}

.aves-recurso {
  margin-bottom: 1rem;
  padding: 2rem;
  background-color: #ffffff;
  border-left: 5px solid #2980b9;
  border-radius: 8px;
}

.aves-recurso h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.aves-recurso a {
  color: #2980b9;
  text-decoration: none;
}

.aves-recurso a:hover {
  text-decoration: underline;
}

.aves-recurso p {
  color: #444;
}

@media (max-width: 768px) {
    header {
        padding: 0.5rem;
        text-align: center;
        font-size: 0.9rem;
    }

    .intro, .alabriregistro, .exposicion1, .exposicion2, .lodelaguia, .aves-section {
        width: 90%;
        margin: 2rem auto;
        padding: 1rem;
        font-size: 1rem;
    }

    .nav-buttons {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-btn {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    .carousel-container {
        width: 95%;
        flex-direction: column;
    }

    .slide {
        flex-direction: column;
        gap: 1rem;
    }

    .slide img {
        width: 100%;
        max-width: 300px;
    }

    .slide .text-box {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        text-align: justify;
    }

    .arrow.left,
    .arrow.right {
        font-size: 40px;
        top: 95%;
        transform: translateY(-50%);
    }

    .lodelaguia {
        position: static;
        width: 90%;
        margin: 1rem auto;
    }

    .aves-recurso {
        padding: 1rem;
    }
}