<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Aves del Barrio Parques de la Italia</title>
</head>
<body>

<header>
    <h1>LAS AVES DEL BARRIO PARQUES DE LA ITALIA - PALMIRA, COLOMBIA</h1>
     <p class="nombre-izquierda">Desarrollado por Martin Londoño Behaine</p>
</header>

<div class="nav-buttons">
    <a href="{{ url_for('guia') }}"><button type="button">Guía de avistamiento y registro</button></a>
    <a href="{{ url_for('registro') }}"><button type="button">Registra tu avistamiento</button></a>
    <a href="{{ url_for('explora') }}"><button type="button">Explora los registros</button></a>
    <a href="{{ url_for('conoce') }}"><button type="button">Conoce más sobre aves</button></a>
</div>
    </div>
   {% block main %}
{% endblock %}