{% extends "base.html" %}

{% block main %}
<section class="intro">
    <p>
    <br><br><b>Bienvenid@s al proyecto "Las Aves de mi Barrio"</b><br><br>
    Promover el avistamiento de aves en una comunidad, permite que se involucren en la conservación de la biodiversidad y cuidado de su territorio.
    Al conocer las especies de un lugar, entendemos su rol y la necesidad de proteger su hábitat.<br><br>
    Las aves cumplen funciones vitales en los ecosistemas, como dispersar semillas, controlar plagas y polinizar.
    Colombia, país con la mayor diversidad de aves del mundo, es un territorio clave para promover conciencia ambiental a través del avistamiento de aves.
    <br><br>Observar aves no solo conecta a las personas con la naturaleza, sino que fortalece el compromiso por cuidar los territorios que ellas habitan.
    </p>

</section>

<section class="post1">
    <p>
    <br><br><b>PARQUES DE LA ITALIA, UN BARRIO PARA LAS AVES</b><br><br>
    <b>Por Martin Londoño Behaine</b><br><br>

    El proyecto "Las Aves de mi Barrio" busca realizar un reconocimiento participativo de las aves con las que convivimos en el barrio Parques de la Italia.
    Aunque pueden observarse en todo el barrio, el hábitat principal de las aves son los árboles, arbustos y zonas verdes en general. ¿Y saben qué? Parques de 
    la Italia esta reído en zonas verdes. Y más delante les cuento el tema de sus árboles, pero tampoco decepciona.<br><br> 
    En cuanto a las zonas verdes, una de las formas de comprobar que el barrio está “reído en zonas verdes” es recorriéndolo. De esta manera encontraras en su 
    interior 9 grandes parques (ver Figura 1), donde predominan los pastos verdes y árboles de todos los tamaños. Tambien son parques con bancas para sentarse 
    y ver pasar el día y llegar la noche, mientras observas a vecinos y vecinas pasear sus mascotas, o a otros jugar futbol, montar bicicleta… y asi, disfrutar 
    el espacio común.<br><br>
    <img src="/static/mapazonasverdes.png" alt="Figura 1. Mapa de las zonas verdes del barrio Parques de la Italia. Elaboración propia." width="300" style="display:block; margin:auto;"><figcaption style="font-size: 0.7rem;">Figura 1. Mapa de las zonas verdes del barrio Parques de la Italia. Elaboración propia.</figcaption><br>
    La otra forma de comprobarlo es a partir de analizar los datos. En primer lugar, el barrio cuenta con un área de zonas de verde de 36.421 m2 (ver Tabla 1), 
    entre sus 9 zonas identificadas. Teniendo en cuenta que la población estimada del barrio es de 3.620 habitantes (Cámara de Comercio de Palmira, 2021), se calcula 
    su Índice de Espacio Público Efectivo1 (IEPE), el cual es de aproximadamente 10.1 m2/habitante. Lo anterior indica lo siguiente: el IEPE del barrio es mayor al promedio 
    del índice urbano de Palmira, el cual se estimó en 6.7 m2/habitantes para el 2021 (Alcaldía de Palmira, 2021). Que vaina linda para el barrio, pero preocupante para Palmira, 
    dado que Colombia ha determinado, a través del Decreto 1504 de 1998 (este es, ni más, ni menos, el decreto que reglamenta el manejo del espacio público en el país), que el 
    IEPE óptimo para una ciudad deber ser mínimo de 15 m2/habitante.<br><br>
    <img src="/static/tabla1.png" alt="Tabla 1. Áreas de las zonas verdes del barrio Parques de la Italia. Elaboración propia." width="250" style="display:block; margin:auto;"><figcaption style="font-size: 0.7rem;">Tabla 1. Áreas de las zonas verdes del barrio Parques de la Italia. Elaboración propia.</figcaption><br>
    Ahora, como les mencioné, sobre el asunto de los árboles, Parques (como le dicen en Palmira al barrio) no decepciona. En este aspecto tenemos la fortuna de compartir espacios 
    con majestuosos samanes, floridos guayacanes, frutales como mangos y guayabos, y filas de ébanos que nos “sombra” los andenes, y muchos otros. La diversidad forestal se nota al 
    recorrer sus calles y parques. En cuanto a la cantidad de árboles, el barrio es bendecido. Según el censo arbóreo realizado en el municipio en el año 2018, Parques de la Italia 
    es el barrio con mas árboles de la zona urbana de Palmira. Con 2767 árboles censado (ver Tabla 2), representa el 7% de los aproximadamente 39 mil árboles que posee Palmira en su 
    zona urbana (CSA, 2019). De nuevo, que vaina linda para el barrio, y de paso, para las aves.<br><br>
    <img src="/static/tabla2.png" alt="Tabla 2. Los cinco primeros barrios con mayor número de árboles censado de Palmira. Elaboración propia. Fuente: CSA, 2019." width="350" style="display:block; margin:auto;"><figcaption style="font-size: 0.7rem;">Tabla 2. Los cinco primeros barrios con mayor número de árboles censado de Palmira. Elaboración propia. Fuente: CSA, 2019.</figcaption><br>
    Finalmente, ¿todo lo anterior qué nos dice? Pues que Parques de la Italia es uno de los barrios del municipio de Palmira con las mejores condiciones biofísicas para que habiten aves. 
    Nos dice que es un barrio donde el pajareo tiene potencial para desarrollarse. Nos dice que tanto mis vecinos y vecinas, y yo, vivimos en un territorio valioso, el cual debemos conservar. 
    Ahora, nos queda pendiente profundizar en lo que nos convoca, ¿Cuántas aves tendrá el barrio? ¿Qué especies de aves habitan en sus árboles? Las respuestas las resolveremos en comunidad.<br><br>
    Gracias por leer.<br><br> 
    <br><br><b>Notas</b><br><br>
    1.	Tomado del Decreto 1504 de 1998, el cual reglamenta el manejo del espacio público en los planes de ordenamiento territorial en Colombia. Se define como “el espacio público de carácter permanente, 
    conformado por zonas verdes, parques, plazas y plazoletas”.<br><br> 
    <br><br><b>Bibliografía</b><br><br>
    Alcaldía de Palmira, 2021. Documento de Diagnóstico - Caracterización y Análisis de las Dimensiones Territoriales. Dimensión funcional - Espacio público. Tomado de: https://palmira.gov.co/planeacion/wp-content/uploads/pot/pot2023/5.5%20Espacio%20P%FAblico.pdf <br><br> 
    Cámara de Comercio de Palmira, 2021. Anuario Estadístico de Palmira 2021 - Demografía. Tomado de: https://ccpalmira.org.co/anuarios/palmira/anuario_2021/pdf/2demografia.pdf <br><br>
    CSA - Centro de Sistematización Ambiental S.A.S, 2019. Resumen general censo de árboles de Palmira 2018. Tomado de: https://es.scribd.com/document/450285909/CENSO-ARBOREO-PALMIRA-2019 <br><br>
    Presidencia de la Republica de Colombia. Decreto 1504 de 1998 - Por el cual se reglamenta el manejo del espacio público en los planes de ordenamiento territorial. Tomado de: https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=1259 <br><br>

    </p>

</section>
{% endblock %}