{% extends "base.html" %}

{% block main %}
<section class="intro">
    <p>
    El avistamiento de aves es una herramienta poderosa para la conservación.
    Al conocer las especies de un lugar, entendemos su rol y la necesidad de proteger su hábitat.<br><br>
    Las aves cumplen funciones vitales en los ecosistemas, como dispersar semillas, controlar plagas y polinizar.
    Colombia, país con la mayor diversidad de aves del mundo, es un destino clave para promover conciencia ambiental, ciencia ciudadana y turismo responsable.
    <br><br>Observar aves no solo conecta a las personas con la naturaleza, sino que fortalece el compromiso por cuidar los territorios que ellas habitan.
    </p>
    <style>
        p{
        text-align: justify;
        text-justify: inter-word;
        }
    </style>
</section>

{% endblock %}