{% extends "base.html" %}

{% block main %}
<h3 class="alabriregistro">Registra el ave que observaste</h3>
<form class="formulario-registro" action="{{ url_for('registro') }}" method="POST" enctype="multipart/form-data">
    <input type="text" name="nombre_completo" placeholder="Tu nombre completo" required>
    <input type="text" name="nombre_comun" placeholder="Nombre común del ave" required>
    <input type="text" name="nombre_cientifico" placeholder="Nombre científico del ave" required>
    <input type="file" name="imagen">
    <textarea name="comentario" placeholder="Cuéntanos tu experiencia de avistamiento"></textarea>
    <button type="submit" onclick="return confirm('¡Gracias por aportar al reconcimiento de la avifauna del barrio. En maximo 24 hrs se confirmará tu registro en la pestaña Explora los registro.')">Registra</button>
</form>
{% endblock %}